<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table>
        <tr>
            <td>Hi @UserName,</td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>Your Username is @LoginId. Please follow this link to reset your password.</td>
        </tr>
        <tr>
            <td>@ResetLink</td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>With regards</td>
        </tr>
        <tr>
            <td>The Payroll Team</td>
        </tr>
    </table>
</body>
</html>